.container {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  width: 320px;
  height: 400px;
  background-color: #fdfdfd;
  box-shadow: 0 0 1px #000;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: #18467D;
}

.content {
  font-size: 18px;
  color: #2D4F7C;
  font-weight: 500;
}

.label {
  font-size: 20px;
  color: #2D4F7C;
  font-weight: 500;
}

.value {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(128, 128, 128);
  background-color: #FFFFFF;
  font-size: 18px;
  padding: 10px;
}